<%= turbo_frame_tag habit do %>
  <div id="habit-<%= habit.id %>">
    <%= form_with(url: toggle_completed_habit_path(habit), class: "inline") do |f| %>
      <%= f.check_box :completed,
            checked: habit.completed_today?,
            data: { controller: "completion-toggle" } %>
      <span class="habit-name"><%= habit.name %></span>
    <% end %>
  </div>
<% end %>
